In [3]:
import pandas
import numpy
import matplotlib.pyplot as plt

In [19]:
# load dataset
dataframe = pandas.read_csv("data/records.csv", header=0)

In [20]:
dataframe.head()

,name,gh_version,pypi_version,status,diffoscope,repo_version,error
0,playback-studio,Failed,Failed,Failed,Error,NaN,NaN
1,jinxed,Failed,Failed,Failed,Error,NaN,NaN
2,mypy-boto3-appintegrations,Failed,Failed,Failed,Error,NaN,NaN
3,mypy-boto3-sso-oidc,Failed,Failed,Failed,Error,NaN,NaN
4,pyecharts-javascripthon,Failed,Failed,Failed,Error,NaN,NaN

In [21]:
dataframe.describe()

       repo_version  error
count           0.0    0.0
mean            NaN    NaN
std             NaN    NaN
min             NaN    NaN
25%             NaN    NaN
50%             NaN    NaN
75%             NaN    NaN
max             NaN    NaN

In [22]:
dataframe['status'].value_counts()

Failed     122
Success     46
Name: status, dtype: int64

In [ ]:
#